.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.dices {
  /* animation:  App-logo-spin 0.5s ease-in-out; */
}

.die {
  animation:  App-logo-spin 0.5s ease-in-out;
}

.die2 {
  animation:  die2 0.5s ease-in-out;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  100% {
    pointer-events: none;
  }
}

@keyframes die2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  100% {
    pointer-events: none;
  }
}

.disabled{
  pointer-events: none;
  background-color: lightgrey;
  color: white;
  font-weight: bolder;
  text-decoration: line-through;
  text-decoration-style: solid;
  text-decoration-color: black;
  font-size: larger;
}
.score{
  color:"white"
}
.description{
  pointer-events: none;

}
